html {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
    padding: 10px;
    margin-bottom: 100px;
}

h1 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

h2 {
  position: relative;
  padding: 0.25em 0;
}
h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

section > p {
    padding: 10px;
}

dl {
    margin: 20px 50px 20px 20px;
}

dl dt {
    font-size: 120%;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}

dl dd {
    padding: 5px;
}


ul, ol {
  padding: 0;
  position: relative;
}

ul li, ol li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

footer {
    background: #404040;
    color: white;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}
